<center>
    <h1>Traffic Fatality Analysis<br>By: Jack Ross</h1>

![](https://images.radio.com/sunny981sd/burning%20car.jpg)
<h6><a href='https://sunny981sd.radio.com/blogs/aj-sara-morning/cops-virginia-pulled-woman-burning-car'>Image Source</h6>
<br>



<h2>Research Question:<br><br>Why has there been an increase in fatalities from 2014 to 2018 while the rate of seatbelt use has gone up and the rate of cell phone use has dropped? Why does it seem that driving is safer than it was 5 years ago but your chances of dying are higher now?</h2>

<h2>Step 1.) Load the Python libraries that we'll be using for this analysis.</h2>

In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<h2>Step 2.) Read in our aggregated crash dataset.</h2>

In [49]:
df = pd.read_csv('https://raw.githubusercontent.com/JackRossProjects/Traffic-Fatality-Analysis/master/crash-data.csv', header=0)

In [67]:
df = pd.DataFrame(df)
# We would also check for NaN values here but I have taken care of that while putting the data together

<h2>Step 3.) Visualize rows and columns to get a better idea of how different variables correlate.</h2>

In [73]:
df

,Category,2018,2017,2016,2015,2014
0,Fatal Crashes,"33,654","34,560","34,748","32,538","30,056"
1,Drivers,"18,250","18,816","18,717","17,615","16,470"
2,Passengers,"5,915","6,237","6,485","6,213","5,766"
3,Unknown,56,74,74,71,71
4,Sub Total1,"24,221","25,127","25,276","23,899","22,307"
5,Motorcyclists,"4,985","5,229","5,337","5,029","4,594"
6,Pedestrians,"6,283","6,075","6,080","5,494","4,910"
7,Pedalcyclists,857,806,853,829,729
8,Other/ Unknown,214,236,260,233,204
9,Sub Total2,"7,354","7,117","7,193","6,556","5,843"
10,Total**,"36,560","37,473","37,806","35,484","32,744"
11,Vehicle Miles Traveled (Billions),NaN,"3,212","3,174","3,095","3,026"
12,Resident Population (Thousands),"327,167","325,147","323,071","320,743","318,386"
13,Registered Vehicles (Thousands),NaN,"290,387","288,034","281,312","274,805"
14,Licensed Drivers (Thousands),NaN,"225,346","221,712","218,084","214,092"
15,Fatalities per 100 Million Vehicle Miles Traveled,NaN,1.17,1.19,1.15,1.08
16,"Fatalities per 100,000 Population",11.17,11.52,11.7,11.06,10.28
17,"Fatalities per 100,000 Registered Vehicles",NaN,12.9,13.13,12.61,11.92
18,"Fatalities per 100,000 Licensed Drivers",NaN,16.63,17.05,16.27,15.29
19,Seatbelt Use,89.6,89.7,90.1,88.5,86.7
20,Handheld Cellphone Use Rate,3.2,2.9,3.3,3.8,4.3
21,Visable Headset Cellphone Use Rate,0.4,0.4,0.5,0.6,0.4
22,Visable Manipulation of Handheld Device Rate,2.1,2,2.1,2.2,2.2
23,Restrain Use of Children Under 8 Rate,90.4,92.8,90.9,89.8,90.9
24,Distracted Driving Affected Crashes,NaN,2935,3197,3242,2972
25,Drunk Driving Fatalities (Per 100 million),10511,10908,10967,10280,9943

In [54]:
dfnonan

,Category,2018,2017,2016,2015,2014
0,Fatal Crashes,"33,654","34,560","34,748","32,538","30,056"
1,Drivers,"18,250","18,816","18,717","17,615","16,470"
2,Passengers,"5,915","6,237","6,485","6,213","5,766"
3,Unknown,56,74,74,71,71
4,Sub Total1,"24,221","25,127","25,276","23,899","22,307"
5,Motorcyclists,"4,985","5,229","5,337","5,029","4,594"
6,Pedestrians,"6,283","6,075","6,080","5,494","4,910"
7,Pedalcyclists,857,806,853,829,729
8,Other/ Unknown,214,236,260,233,204
9,Sub Total2,"7,354","7,117","7,193","6,556","5,843"
10,Total**,"36,560","37,473","37,806","35,484","32,744"
12,Resident Population (Thousands),"327,167","325,147","323,071","320,743","318,386"
16,"Fatalities per 100,000 Population",11.17,11.52,11.7,11.06,10.28
19,Seatbelt Use,89.6,89.7,90.1,88.5,86.7
20,Handheld Cellphone Use Rate,3.2,2.9,3.3,3.8,4.3
21,Visable Headset Cellphone Use Rate,0.4,0.4,0.5,0.6,0.4
22,Visable Manipulation of Handheld Device Rate,2.1,2,2.1,2.2,2.2
23,Restrain Use of Children Under 8 Rate,90.4,92.8,90.9,89.8,90.9
25,Drunk Driving Fatalities (Per 100 million),10511,10908,10967,10280,9943

In [66]:
df['2018']

0      33,654
1      18,250
2       5,915
3          56
4      24,221
5       4,985
6       6,283
7         857
8         214
9       7,354
10     36,560
11        NaN
12    327,167
13        NaN
14        NaN
15        NaN
16      11.17
17        NaN
18        NaN
19       89.6
20        3.2
21        0.4
22        2.1
23       90.4
24        NaN
25      10511
Name: 2018, dtype: object

<h3>The data used is an aggregation of National Highway Traffic Safety Administration (NHTSA), other, and other data. The sources for the data are available <a href="https://github.com/JackRossProjects/Traffic-Fatality-Analysis/blob/master/data-sources.txt" target="_blank">here</a> and the aggregated CSV is available <a href="https://github.com/JackRossProjects/Traffic-Fatality-Analysis/blob/master/crash-data.csv" target="_blank">here</a>.</h3>